/.idea
/app/Commands
/app/Console
/app/Events
/app/Exceptions
/app/Handlers
/app/Http/Middleware
/app/Http/Requests
/app/Kernel.php
/app/routes.php
/app/Providers
/bootstrap
/config
/database
/public
/resources
/storage
/tests
/vendor
/node_modules
.DS_Store
.env
artisan
phpspec.yml
phpunit.xml
server.php