#dynamic-table
{
	margin-top: 0;

	tbody td
	{
		height: 49px;
	}
}

#dynamic-table-toolbar
{
	margin-bottom: 18px;
}

#dynamic-table-info-row
{
	height: 49px;
	margin-right: 0;
	margin-bottom: 0;

	.column
	{
		padding-bottom: 0;
	}
}

#dynamic-table-page-info-container
{
	p
	{
		margin-top: 6px;
	}
}

#dynamic-table-search-container
{
	text-align: right;
	padding: 0;
}